.headbr {background-color: rgb(47, 95, 72);}


.hefont {font-family: 'Courier New';}





body{background-color: rgb(29, 62, 47);}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px 0;
}

div.gridwrap{
    overflow-wrap: anywhere;}

.bigfont{font-size:  10em;}

.center{display:block;
margin-left:auto;
margin-right:auto;
width: 50%;
}